@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: hsl(279deg, 6%, 55%);
  min-height: 100vh;
}

.main {
  position: relative;
}

.background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 66.25em) {
  .background {
    flex-direction: row;
  }
}
.background-top {
  height: 24rem;
  background: url(../images/bg-main-mobile.png) no-repeat center;
  background-size: cover;
}
@media only screen and (min-width: 66.25em) {
  .background-top {
    height: 100vh;
    width: 33.54%;
    background: url(../images/bg-main-desktop.png) no-repeat center;
    background-size: cover;
  }
}
.background-bottom {
  flex: 1;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  flex: 0 1 50rem;
  row-gap: 4.8rem;
  display: flex;
  flex-direction: column;
  margin: 3.2rem 1.6rem;
}
@media only screen and (min-width: 66.25em) {
  .container {
    flex: 0 1 110.9rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.cards-container {
  min-height: 25.1rem;
  position: relative;
  filter: drop-shadow(0 3.9rem 6rem hsla(0deg, 0%, 0%, 0.142));
}
@media only screen and (min-width: 66.25em) {
  .cards-container {
    width: 54.1rem;
    height: 52.7rem;
  }
}

.card {
  width: 28.6rem;
  position: absolute;
  color: hsl(0deg, 0%, 100%);
}
@media only screen and (min-width: 66.25em) {
  .card {
    width: 44.7rem;
  }
}
.card__img {
  display: block;
  width: 100%;
  height: auto;
}
.card--back {
  top: 0;
  right: 0;
}
@media only screen and (min-width: 66.25em) {
  .card--back {
    top: auto;
    bottom: 0;
  }
}
.card--front {
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 66.25em) {
  .card--front {
    bottom: auto;
    top: 0;
  }
}
.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.76rem 2.089rem 1.96rem 1.9rem;
}
@media only screen and (min-width: 66.25em) {
  .card__overlay {
    padding: 2.8rem 3.186rem 2.65rem 3.2rem;
  }
}
.card__logo {
  width: 5.4rem;
}
@media only screen and (min-width: 66.25em) {
  .card__logo {
    width: 8.4rem;
  }
}
.card__info {
  margin-top: auto;
}
.card__number {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: 0.22rem;
  margin-bottom: 1.7rem;
}
@media only screen and (min-width: 66.25em) {
  .card__number {
    font-size: 2.8rem;
    line-height: 3.6rem;
    letter-spacing: 0.342222rem;
    margin-bottom: 2.4rem;
  }
}
.card__holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  line-height: 1.1rem;
  letter-spacing: 0.1128571rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 66.25em) {
  .card__holder {
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.2rem;
  }
}
.card__cvc {
  position: absolute;
  top: 45.5%;
  right: 13%;
  font-size: 0.9rem;
  line-height: 1.1rem;
  letter-spacing: 0.128571rem;
}
@media only screen and (min-width: 66.25em) {
  .card__cvc {
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.2rem;
  }
}

.main-container {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 66.25em) {
  .main-container {
    flex: 0 0 44.1rem;
    justify-content: flex-start;
  }
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: 0.8rem;
}
@media only screen and (min-width: 66.25em) {
  .form {
    flex: 0 0 38.1rem;
    gap: 2.6rem;
    margin-inline: 0;
  }
}
.form__input-group {
  display: flex;
  flex-direction: column;
}
.form__input-group--split {
  display: flex;
  flex-direction: row;
  gap: 1.1rem;
}
@media only screen and (min-width: 66.25em) {
  .form__input-group--split {
    gap: 2rem;
  }
}
.form__input-group--date-inputs {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}
@media only screen and (min-width: 66.25em) {
  .form__input-group--date-inputs {
    gap: 1rem;
  }
}
.form__input-group--date-group {
  flex: 1;
}
.form__input-group--cvc {
  width: 16.4rem;
}
@media only screen and (min-width: 66.25em) {
  .form__input-group--cvc {
    width: 19.1rem;
  }
}
.form__label {
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: hsl(278deg, 68%, 11%);
  margin-bottom: 0.9rem;
}
.form__input {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  width: 100%;
  height: 4.5rem;
  font-family: inherit;
  background-color: hsl(0deg, 0%, 100%);
  border: 1px solid #DFDEE0;
  border-radius: 0.8rem;
  padding: 1.1rem 1.6rem;
}
.form__input::placeholder {
  color: hsl(278deg, 68%, 11%);
  mix-blend-mode: normal;
  opacity: 0.25;
}
.form__input:focus {
  outline: none;
  border: 1px solid hsl(249deg, 99%, 64%);
}
.form__input.error {
  border: 1px solid hsl(0deg, 100%, 66%);
}
.form__error {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 0.8rem;
  color: hsl(0deg, 100%, 66%);
  display: none;
}
.form__error.visible {
  display: block;
}

.button {
  align-self: stretch;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  border: none;
  padding: 1.5rem;
  border-radius: 0.8rem;
  background-color: hsl(278deg, 68%, 11%);
  color: hsl(0deg, 0%, 100%);
}
.button:hover {
  cursor: pointer;
}
.button--form {
  margin-top: 0.8rem;
}
@media only screen and (min-width: 66.25em) {
  .button--form {
    margin-top: 1.4rem;
  }
}

.success {
  flex: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-inline: 0.8rem;
}
@media only screen and (min-width: 66.25em) {
  .success {
    flex: 0 0 38.1rem;
    margin-inline: 0;
  }
}
.success__icon {
  margin-bottom: 3.5rem;
}
.success__heading {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: 0.342222rem;
  text-transform: uppercase;
  color: hsl(278deg, 68%, 11%);
  margin-bottom: 1.6rem;
}
.success__message {
  margin-bottom: 4.8rem;
}

/*# sourceMappingURL=style.css.map */
