@import "variables";
@import "boilerplate";
@import "components";

.main {
    position: relative;
}

.background {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $breakpoint) {
        flex-direction: row;
    }

    &-top {
        height: 24rem;
        background: url(../images/bg-main-mobile.png) no-repeat center;
        background-size: cover;

        @media only screen and (min-width: $breakpoint) {
            height: 100vh;
            width: 33.54%;
            background: url(../images/bg-main-desktop.png) no-repeat center;
            background-size: cover;
        }
    }

    &-bottom {
        flex: 1;
    }
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.container {
    flex: 0 1 50rem;
    row-gap: 4.8rem;

    display: flex;
    flex-direction: column;

    margin: 3.2rem 1.6rem;

    @media only screen and (min-width: $breakpoint) {
        flex: 0 1 110.9rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.cards-container {
    min-height: 25.1rem;
    position: relative;

    filter: drop-shadow(0 3.9rem 6rem hsla(0, 0%, 0%, 0.142));

    @media only screen and (min-width: $breakpoint) {
        width: 54.1rem;
        height: 52.7rem;
    }

}

.form-container {
    display: flex;
    justify-content: center;

    @media only screen and (min-width: $breakpoint) {
        flex: 0 0 44.1rem;
        justify-content: flex-start;
    }
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-inline: .8rem;

    @media only screen and (min-width: $breakpoint) {
        flex: 0 0 38.1rem;
        gap: 2.6rem;
        margin-inline: 0;
    }

    &__input-group {
        display: flex;
        flex-direction: column;

        &--split {
            display: flex;
            flex-direction: row;
            gap: 1.1rem;

            @media only screen and (min-width: $breakpoint) {
                gap: 2rem;
            }
        }

        &--date-inputs {
            display: flex;
            flex-direction: row;
            gap: .8rem;

            @media only screen and (min-width: $breakpoint) {
                gap: 1rem;
            }
        }

        &--date-group {
            flex: 1;
        }

        &--cvc {
            width: 16.4rem;

            @media only screen and (min-width: $breakpoint) {
                width: 19.1rem;
            }
        }
    }

    &__label {
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: .2rem;
        text-transform: uppercase;

        color: $very-dark-violet;
        margin-bottom: .9rem;
    }

    &__input {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.3rem;

        width: 100%;
        height: 4.5rem;
        font-family: inherit;
        background-color: $white;

        border: 1px solid #DFDEE0;
        border-radius: .8rem;
        padding: 1.1rem 1.6rem;

        &::placeholder {
            color: $very-dark-violet;

            mix-blend-mode: normal;
            opacity: 0.25;
        }

        &:focus {
            outline: none;
            border: 1px solid hsl(249, 99%, 64%);
        }

        &.error {
            border: 1px solid $red;
        }
    }

    &__error {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-top: .8rem;
        color: $red;
        display: none;

        &.visible {
            display: block;
        }
    }

}

.success {
    flex: 1;

    display: none;
    flex-direction: column;
    align-items: center;

    margin-inline: .8rem;

    @media only screen and (min-width: $breakpoint) {
        flex: 0 0 38.1rem;
        margin-inline: 0;
    }

    &__icon {
        margin-bottom: 3.5rem;
    }

    &__heading {
        font-weight: 500;
        font-size: 2.8rem;
        line-height: 3.6rem;

        letter-spacing: .342222rem;

        text-transform: uppercase;

        color: $very-dark-violet;

        margin-bottom: 1.6rem;
    }

    &__message {
        margin-bottom: 4.8rem;
    }
}